git "git@github.com:Alamofire/Alamofire" 
git "git@github.com:Hearst-DD/ObjectMapper"
git "git@github.com:tristanhimmelman/AlamofireObjectMapper"
git "git@github.com:realm/realm-cocoa"
git "git@github.com:onevcat/Kingfisher"
git "git@github.com:SnapKit/SnapKit"
git "git@github.com:ankurp/Dollar"
git "git@github.com:MatthewYork/DateTools"
